<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.DepartmentMapper">

  <resultMap id="BaseResultMap" type="com.web.entity.DepartmentDO">
    <id column="department_id" jdbcType="BIGINT" property="id" />
    <result column="department_name" jdbcType="VARCHAR" property="name" />

    <collection property="employee" ofType="com.web.entity.EmployeeDO">
      <id column="employee_id" jdbcType="BIGINT" property="id" />
      <result column="employee_name" jdbcType="VARCHAR" property="name" />
      <result column="employee_age" jdbcType="BIGINT" property="age" />
      <result column="employee_departmentid" jdbcType="VARCHAR" property="departmentid" />
      <result column="employee_intotime" jdbcType="DATE" property="intotime" />
      <result column="employee_salary" jdbcType="DOUBLE" property="salary" />
    </collection>

  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select department.id as department_id, department.name as department_name,
    employee.id as employee_id, employee.name as employee_name, employee.age as employee_age,
    employee.intotime as employee_intotime, employee.salary as employee_salary
    from department department left join employee employee
    on employee.department_id = department.id
  </select>

</mapper>