<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.WorkOrderMapper">
  <resultMap id="BaseResultMap" type="com.web.entity.WorkOrderDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="work_order_id" jdbcType="VARCHAR" property="workOrderId" />
    <result column="related_size" jdbcType="INTEGER" property="relatedSize" />
  </resultMap>
  <sql id="Base_Column_List">
    id, work_order_id, related_size
  </sql>
  <select id="findAll" resultMap="BaseResultMap">
    select work_order_id, related_size from work_order
  </select>
</mapper>