<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.DepartmentMapper">

  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <association property="department_info" column="{id=id,}" javaType="map" select="selectDepartmentInfo">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="departmentid" jdbcType="VARCHAR" property="departmentid" />
      <result column="address" jdbcType="VARCHAR" property="address" />
      <result column="leader" jdbcType="VARCHAR" property="leader" />
      <result column="policy" jdbcType="VARCHAR" property="policy" />
    </association>
    <collection property="employees" column="{id=id,}" ofType="java.util.Map" javaType="java.util.List" select="selectEmployee"/>
  </resultMap>
  
  <resultMap id="selectEmployeeMap" type="java.util.Map">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="BIGINT" property="age" />
    <result column="departmentid" jdbcType="VARCHAR" property="departmentid" />
    <result column="intotime" jdbcType="DATE" property="intotime" />
    <result column="salary" jdbcType="DOUBLE" property="salary" />
    <collection property="employee_works" column="{name=name,}" ofType="java.util.Map" javaType="java.util.List" select="selectEmployeeWork"/>
  </resultMap>

  <resultMap id="selectEmployeeWorkMap" type="java.util.Map">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="intotime" jdbcType="DATE" property="intotime" />
  </resultMap>

  <select id="select" resultMap="BaseResultMap">
    select * from department
  </select>

  <select id="selectDepartmentInfo" resultType="map">
    select * from department_info where departmentid = #{id}
  </select>

  <select id="selectEmployee" resultMap="selectEmployeeMap">
    select * from employee where departmentid = #{id}
  </select>

  <select id="selectEmployeeWork" resultMap="selectEmployeeWorkMap">
    select * from employee_work where name = #{name}
  </select>

  <resultMap id="objectMap" type="java.util.Map">
    <collection property="department" column="x" ofType="java.util.Map" javaType="java.util.List" select="selectDepartment"/>
    <collection property="employee" column="x" ofType="java.util.Map" javaType="java.util.List" select="selectEmployee"/>
  </resultMap>

  <select id="selectObject" resultMap="objectMap">
    select 'x'
  </select>

  <insert id="insert" parameterType="map">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>;

    <if test="department_info != null">
      insert into department_info
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="department_info.id != null">
          id,
        </if>
        <if test="department_info.departmentid != null">
          departmentid,
        </if>
        <if test="department_info.address != null">
          address,
        </if>
        <if test="department_info.leader != null">
          leader,
        </if>
        <if test="department_info.policy != null">
          policy,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="department_info.id != null">
          #{department_info.id,jdbcType=BIGINT},
        </if>
        <if test="department_info.departmentid != null">
          #{department_info.departmentid,jdbcType=VARCHAR},
        </if>
        <if test="department_info.address != null">
          #{department_info.address,jdbcType=VARCHAR},
        </if>
        <if test="department_info.leader != null">
          #{department_info.leader,jdbcType=VARCHAR},
        </if>
        <if test="department_info.policy != null">
          #{department_info.policy,jdbcType=VARCHAR},
        </if>
      </trim>;
    </if>

    <if test="employees != null and employees.size>0" >
      <foreach collection="employees" item="employee" index="index">
        insert into employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="employee.id != null">
            id,
          </if>
          <if test="employee.name != null">
            name,
          </if>
          <if test="employee.age != null">
            age,
          </if>
          <if test="employee.departmentid != null">
            departmentid,
          </if>
          <if test="employee.intotime != null">
            intotime,
          </if>
          <if test="employee.salary != null">
            salary,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="employee.id != null">
            #{employee.id,jdbcType=BIGINT},
          </if>
          <if test="employee.name != null">
            #{employee.name,jdbcType=VARCHAR},
          </if>
          <if test="employee.age != null">
            #{employee.age,jdbcType=BIGINT},
          </if>
          <if test="employee.departmentid != null">
            #{employee.departmentid,jdbcType=VARCHAR},
          </if>
          <if test="employee.intotime != null">
            #{employee.intotime,jdbcType=DATE},
          </if>
          <if test="employee.salary != null">
            #{employee.salary,jdbcType=DOUBLE},
          </if>
        </trim>;

        <if test="employee.employee_works != null and employee.employee_works.size>0" >
          <foreach collection="employee.employee_works" item="employee_work" index="index">
            insert into employee_work
            <trim prefix="(" suffix=")" suffixOverrides=",">
              <if test="employee_work.id != null">
                id,
              </if>
              <if test="employee_work.name != null">
                name,
              </if>
              <if test="employee_work.intotime != null">
                intotime,
              </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
              <if test="employee_work.id != null">
                #{employee_work.id,jdbcType=BIGINT},
              </if>
              <if test="employee_work.name != null">
                #{employee_work.name,jdbcType=VARCHAR},
              </if>
              <if test="employee_work.intotime != null">
                #{employee_work.intotime,jdbcType=DATE},
              </if>
            </trim>;
          </foreach>
        </if>
      </foreach>
    </if>
  </insert>
</mapper>